{% extends 'base.html' %}
{% block page-css %}
    <link rel="stylesheet" type="text/css" href="/static/ayame_site/css/index.css">
    <link rel="stylesheet" href="/static/ayame_site/css/slider.css" />
{% endblock %}

{% block page-main %}
    <div style="" id="slider">
        <div class="banner" id="b04">
            <ul>

                <li class="slider-item"><a href="#"><img src="/static/ayame_site/imgs/05.jpg"  width="640" height="480" ><span class="slider-title"><em>早报</em></span></a></li>
                <!--<li class="slider-item"><a href="#"><img src="/static/ayame_site/imgs/02.jpg"  width="640" height="480" ><span class="slider-title"><em>如果</em></span></a></li>
                <li class="slider-item"><a href="#"><img src="/static/ayame_site/imgs/03.jpg"  width="640" height="480" ><span class="slider-title"><em>启示</em></span></a></li>
                <li class="slider-item"><a href="#"><img src="/static/ayame_site/imgs/04.jpg"  width="640" height="480" ><span class="slider-title"><em>重仓</em></span></a></li>-->
            </ul>
            <div class="progress"></div>
            <!--<a href="javascript:void(0);" class="unslider-arrow04 prev"><img class="arrow" id="al" src="/static/ayame_site/imgs/arrowr.png" alt="prev" width="20" height="35"></a>
            <a href="javascript:void(0);" class="unslider-arrow04 next"><img class="arrow" id="ar" src="/static/ayame_site/imgs/arrowl.png" alt="next" width="20" height="37"></a>-->
        </div>
    </div>
    <hr>
    <div id="main_body">
        <div id="schedule">
            <div id="members">
                <span class="title_box">Members</span>
                <ul>
                    {% for member in members %}
                    <li class="member-item">
                        <img src="{{ member.member_picurl }}">
                        <span>{{ member.member_profile }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="time_table">
                <span class="title_box">time table</span>
                <span id="nowdate"></span>
                <ul>
                    {% for ag in agenda %}
                        <li class="time_table-item">
                            <span class="date">{{ ag.date }}</span>
                            <span class="text">{{ ag.agenda }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="contact">
                <span class="title_box">QQ:</span>
            </div>
        </div>
        <div id="news">
            <div id="blogs">
                   <span class="title_box">NEWS</span>
                      {% for blog in blogs %}
                        <li class="news-item">
                         <span class="date">{{ blog.created_time }}</span>
                          <span class="text">
                                <a href="/singlenews/{{ blog.id }}/">{{ blog.title }}</a>
                                <span>{{ blog.summary }}</span>
                          </span>
                        </li>
                        <hr>
                    {% endfor %}
                    <a href="/news/" style="width: 100%;text-align: center;display: block;">详细页</a>
            </div>
            <div id="weibo">
                  <span class="title_box">weibo</span>
            </div>
            <div id="bilibili">
                  <span class="title_box">bilibili</span>
            </div>
        </div>
    </div>
    <!--<div class="col-md-12">
        <img src="https://s2.ax1x.com/2019/09/03/nArzvR.jpg">
    </div>-->
{% endblock %}

{% block page-js %}
    <script src="/static/ayame_site/js/unslider.min.js"></script>
    <script>
    $(document).ready(function(e) {
        var progress = $(".progress"),li_width = $("#b04 li").length;
        var unslider04 = $('#b04').unslider({
            dots: true,
            complete:function(index){//自己添加的，官方没有
                progress.animate({"width":(100/li_width)*(index+1)+"%"});
            }
        }),

        data04 = unslider04.data('unslider');
        $('.unslider-arrow04').click(function() {
            var fn = this.className.split(' ')[1];
            data04[fn]();
        });
    });
    </script>
    <script>
        $(document).ready(function(){
        	var date=new Date();
			document.getElementById("nowdate").innerHTML=(1900+date.getYear())+"年"+(date.getMonth()+1)+"月"+(date.getDay()+1)+"日"
        })
    </script>
{% endblock %}