{% extends 'base.html' %}
{% block page-css %}
    <link rel="stylesheet" type="text/css" href="/static/ayame_site/css/index.css">
    <link rel="stylesheet" href="/static/ayame_site/css/slider.css" />
{% endblock %}

{% block page-main %}
    <div id="slider">
        <div class="banner" id="b04">
            <ul>
                <li class="slider-item"><img src="/static/ayame_site/imgs/mct-slider-1.jpg" ></li>
                <li class="slider-item"><img src="https://i.postimg.cc/mDYB7SBw/slider-2.jpg" ></li>
                <li class="slider-item"><img src="https://i.postimg.cc/rsqcjtpL/slider-3.jpg" ></li>
                <li class="slider-item"><img src="https://i.postimg.cc/6qzKm574/slider-4.jpg" ></li>
                <li class="slider-item"><img src="https://i.postimg.cc/c1cdHTD1/slider-5.jpg" ></li>
            </ul>
            <div class="progress"></div>
            <!--<a href="javascript:void(0);" class="unslider-arrow04 prev"><img class="arrow" id="al" src="/static/ayame_site/imgs/arrowr.png" alt="prev" width="20" height="35"></a>
            <a href="javascript:void(0);" class="unslider-arrow04 next"><img class="arrow" id="ar" src="/static/ayame_site/imgs/arrowl.png" alt="next" width="20" height="37"></a>-->
        </div>
    </div>
    <hr>
    <div id="main_body">
        <div id="schedule">
            <div id="members">
                <div class="title_box"><img src="https://i.postimg.cc/43tgT17g/span-pic.jpg"><span>成员简介</span></div>
                <ul>
                <!--
                    <li class="member-item">
                        <img src="/static/ayame_site/imgs/member-1.jpg">
                        <span>member-1</span>
                    </li>
                    <li class="member-item">
                        <img src="/static/ayame_site/imgs/member-2.jpg">
                        <span>member-1</span>
                    </li>
                     <li class="member-item">
                        <img src="/static/ayame_site/imgs/member-3.jpg">
                        <span>member-1</span>
                    </li>-->
                    {% for member in members %}
                    <li class="member-item">
                        <img src="{{ member.member_picurl }}">
                        <span>{{ member.member_profile }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="time_table">
                <div class="title_box"><img src="https://i.postimg.cc/43tgT17g/span-pic.jpg"><span>时间表</span></div>
                <span id="nowdate"></span>
                <hr>
                <ul>
                    {% for ag in agenda %}
                        <li class="time_table-item">
                            <span class="date">{{ ag.date }}</span>
                            <span class="text">{{ ag.agenda }}</span>
                        </li>
                        <hr>
                    {% endfor %}
                </ul>
            </div>
            <div id="contact">
                <div class="title_box"><img src="https://i.postimg.cc/43tgT17g/span-pic.jpg"><span>联系我们</span></div>
                <div style="width: 100%;padding: 5% 20%;"><span> QQ群:689926620（咩咩姐妹团）</span></div>
            </div>
        </div>
        <div id="news">
            <div id="blogs">
                <div class="title_box"><img src="https://i.postimg.cc/43tgT17g/span-pic.jpg"><span>组内推送</span></div>
                      {% for blog in blogs %}
                        <hr>
                        <li class="news-item">
                             <span class="date">{{ blog.created_time }}</span>
                              <span class="text">
                                    <a href="/singlenews/{{ blog.id }}/">{{ blog.title }}</a>
                                    <span>{{ blog.summary }}</span>
                              </span>
                        </li>
                    {% endfor %}
                    <hr>
                    <a href="/news/" style="width:80%;text-align: right;display: block;">>>详细页</a>
            </div>
            <div id="weibo">
                <div class="title_box"><img src="https://i.postimg.cc/43tgT17g/span-pic.jpg"><span>字幕组微博</span></div>
                <div id="profile">
                    <img src="https://i.postimg.cc/63XN6GnG/weibo.jpg">
                </div>
                <a href="https://weibo.com/u/6867332690?from=myfollow_all&is_all=1" style="width:80%;text-align: right;display: block;">>>转到微博</a>
            </div>
            <div id="bilibili">
                <div class="title_box"><img src="https://i.postimg.cc/43tgT17g/span-pic.jpg"><span>BILIBILI</span></div>
                <div id="profile">
                    <img src="https://i.postimg.cc/mgs3wLYy/bilibili.jpg">
                </div>
                <a href="https://space.bilibili.com/1920555?from=search&seid=9043630879509314567" style="width:80%;text-align: right;display: block;">>>转到B站</a>
            </div>
        </div>
    </div>
    <!--<div class="col-md-12">
        <img src="https://s2.ax1x.com/2019/09/03/nArzvR.jpg">
    </div>-->
{% endblock %}

{% block page-js %}
    <script src="/static/ayame_site/js/unslider.min.js"></script>
    <script>
    $(document).ready(function(e) {
        var progress = $(".progress"),li_width = $("#b04 li").length;
        var unslider04 = $('#b04').unslider({
            dots: true,
            complete:function(index){//自己添加的，官方没有
                progress.animate({"width":(100/li_width)*(index+1)+"%"});
            }
        }),

        data04 = unslider04.data('unslider');
        $('.unslider-arrow04').click(function() {
            var fn = this.className.split(' ')[1];
            data04[fn]();
        });
    });
    </script>
    <script>
        $(document).ready(function(){
        	var date=new Date();
			document.getElementById("nowdate").innerHTML=(1900+date.getYear())+"年"+(date.getMonth()+1)+"月"+(date.getDay()+1)+"日"
        })
    </script>
{% endblock %}