{% extends "base.html" %}
{% block page-css %}
    <link rel="stylesheet" type="text/css" href="/static/ayame_site/css/news.css">
    <link rel="stylesheet" type="text/css" href="/static/ayame_site/css/index.css">
    <link type="text/css" href="/static/ayame_site/css/datepicker.css" rel="stylesheet" />
{% endblock %}

{% block page-main %}
    <div class="title_box"><img src="/static/ayame_site/imgs/span-pic.jpg"><span>详细信息</span></div>
    <div id="news-left">
        <ul>
            {% for blog in blogs %}
             <li class="news-item">
                 <span class="date">{{ blog.created_time }}</span>
                  <span class="text">
                        <a href="/singlenews/{{ blog.id }}/">{{ blog.title }}</a>
                        <span>{{ blog.summary }}</span>
                  </span>
             </li>
            {% endfor %}
        <!--<li class="news-item">
                 <span class="date">2019.09.04</span>
                  <span class="text">
                  <a>乃木坂46“Yoakemade Tsuyogaranakutemoii发布特别礼品......的通知</a>
                  <span>"Yoakemade Tsuyogaranakutemoii为庆祝释放礼品规划已经确定！下面，特别礼品申请前请仔细检查大纲和申请大纲。我们正在等待许多申请。 [专题礼品..."</span>
                  </span>
             </li>-->
        </ul>
    </div>
    <div id="news-right">
    <div class="title_box"><img src="/static/ayame_site/imgs/span-pic.jpg"><span>日历</span></div>
            <center>
            <div class="datepicker"></div>
            </center>
    </div>
{% endblock %}

{% block page-js %}
    <script type="text/javascript">
            $(document).ready(function(){

                $(".datepicker").datePicker({
                    inline:true,
                    selectMultiple:false
                });

                $("#datepicker").datePicker({
                    clickInput:true
                });

            });
    </script>
<script type="text/javascript" src="/static/ayame_site/js/jquery.datePicker-min.js"></script>
{% endblock %}